<div id="RegisterFormComponent">
    <form id="registerForm">
        <h2 class="primary">Dados pessoais</h2>
        <div class="input-wrapper" v-if="formInputs.name.required">
            <label for="name">Nome:</label>
            <input 
                v-on:focusout="formInputs.name.validate()" 
                v-model="formInputs.name.data"
                id="name">
            <span v-if="formInputs.name.hasErrors == true" class="error">{{ formInputs.name.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.email.required">
            <label for="email">E-mail:</label>
            <input 
                v-on:focusout="formInputs.email.validate();formInputs.email.verifyEmail();" 
                v-model="formInputs.email.data"
                id="email"
                type="email">
            <span v-if="formInputs.email.hasErrors == true" class="error">{{ formInputs.email.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.password.required">
            
            <label for="password">Senha:</label>
            <input 
                v-on:focusout="formInputs.password.validate()" 
                v-model="formInputs.password.data"
                id="password"
                type="password">
            <span v-if="formInputs.password.hasErrors == true" class="error">{{ formInputs.password.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.phone1.required">
            <label for="phone1">Celular com DDD:</label>
            <input 
                v-on:focusout="formInputs.phone1.validate()"
                v-on:keyup="formInputs.phone1.mask()"
                v-model="formInputs.phone1.data"
                id="phone1"
                type="phone1"
                maxlength="15">
            <span v-if="formInputs.phone1.hasErrors == true" class="error">{{ formInputs.phone1.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.phone2.required">
            <label for="phone2">Telefone com DDD:</label>
            <input 
                v-on:focusout="formInputs.phone2.validate()"
                v-on:keyup="formInputs.phone2.mask()"
                v-model="formInputs.phone2.data"
                id="phone2"
                type="phone2"
                maxlength="15">
            <span v-if="formInputs.phone2.hasErrors == true" class="error">{{ formInputs.phone2.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.rg.required">
            <label for="rg">RG:</label>
            <input 
                v-on:focusout="formInputs.rg.validate()"
                v-on:keyup="formInputs.rg.mask()"
                v-model="formInputs.rg.data"
                id="rg"
                type="text"
                maxlength="15">
            <span v-if="formInputs.rg.hasErrors == true" class="error">{{ formInputs.rg.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.cpfCnpj.required">
            <label for="cpfCnpj">CPF:</label>
            <input 
                v-on:focusout="formInputs.cpfCnpj.validate()" 
                v-on:keyup="formInputs.cpfCnpj.mask(); formInputs.cpfCnpj.verifyCpfCnpj();"
                v-model="formInputs.cpfCnpj.data"
                id="cpfCnpj"
                type="text"
                maxlength="14">
            <span v-if="formInputs.cpfCnpj.hasErrors == true" class="error">{{ formInputs.cpfCnpj.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.pis.required">
            <label for="pis">PIS:</label>
            <input 
                v-on:focusout="formInputs.pis.validate()"
                v-on:keyup="formInputs.pis.mask()"
                v-model="formInputs.pis.data"
                id="pis"
                type="text">
            <span v-if="formInputs.pis.hasErrors == true" class="error">{{ formInputs.pis.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.birthdate.required">
            <label for="birthdate">Data de nascimento:</label>
            <input 
                v-on:focusout="formInputs.birthdate.validate()"
                v-on:keyup="formInputs.birthdate.mask()" 
                v-model="formInputs.birthdate.data"
                id="birthdate"
                type="text"
                maxlength="10">
            <span v-if="formInputs.birthdate.hasErrors == true" class="error">{{ formInputs.birthdate.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.nationality.required">
            <label for="nationality">Nacionalidade:</label>
            <select 
                v-on:focusout="formInputs.nationality.validate()"
                v-model="formInputs.nationality.data"
                id="nationality">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.nationalities" 
                    v-bind:value="option">
                    {{ option }}
                </option>
            </select>
            <span v-if="formInputs.nationality.hasErrors == true" class="error">{{ formInputs.nationality.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.birthLocation.required">
            <label for="birthLocation">Estado natal:</label>
            <select  
                v-on:focusout="formInputs.birthLocation.validate()"
                v-model="formInputs.birthLocation.data"
                id="birthLocation">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.originStates" 
                    v-bind:value="option.value">
                    {{ option.label }}
                </option>
            </select>
            <span v-if="formInputs.birthLocation.hasErrors == true" class="error">{{ formInputs.birthLocation.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.maritalStatus.required">
            <label for="maritalStatus">Estado civil:</label>
            <select  
                v-on:focusout="formInputs.maritalStatus.validate()"
                v-model="formInputs.maritalStatus.data"
                id="maritalStatus">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.maritalStatus" 
                    v-bind:value="option">
                    {{ option }}
                </option>
            </select>
            <span v-if="formInputs.maritalStatus.hasErrors == true" class="error">{{ formInputs.maritalStatus.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.gender.required">
            <label for="gender">Sexo:</label>
            <select 
                v-on:focusout="formInputs.gender.validate()"
                v-model="formInputs.gender.data"
                id="gender">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.genders" 
                    v-bind:value="option">
                    {{ option }}
                </option>
            </select>
            <span v-if="formInputs.gender.hasErrors == true" class="error">{{ formInputs.gender.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.literacy.required">
            <label for="literacy">Grau de instrução:</label>
            <select 
                v-on:focusout="formInputs.literacy.validate()"
                v-model="formInputs.literacy.data"
                id="literacy">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.literacyLevels" 
                    v-bind:value="option">
                    {{ option }}
                </option>
            </select>
            <span v-if="formInputs.literacy.hasErrors == true" class="error">{{ formInputs.literacy.errorMessage }}</span>
        </div>
        <h2 class="primary">Endereço</h2>
        <div class="input-wrapper" v-if="formInputs.cep.required">
            <label for="cep">Cep:</label>
            <input 
                v-on:focusout="formInputs.cep.validate()"
                v-on:keyup="formInputs.cep.mask();formInputs.cep.findCep()"
                v-model="formInputs.cep.data"
                id="cep"
                maxlength="9">
            <span v-if="formInputs.cep.hasErrors == true" class="error">{{ formInputs.cep.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.address.required">
            <label for="address">Endereço:</label>
            <input 
                v-on:focusout="formInputs.address.validate()" 
                v-model="formInputs.address.data"
                id="address">
            <span v-if="formInputs.address.hasErrors == true" class="error">{{ formInputs.address.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.addressNumber.required">
            <label for="addressNumber">Número:</label>
            <input
                v-on:focusout="formInputs.addressNumber.validate()" 
                v-model="formInputs.addressNumber.data"
                id="addressNumber">
            <span v-if="formInputs.addressNumber.hasErrors == true" class="error">{{ formInputs.addressNumber.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.neighborhood.required">
            <label for="neighborhood">Bairro:</label>
            <input
                v-on:focusout="formInputs.neighborhood.validate()" 
                v-model="formInputs.neighborhood.data"
                id="neighborhood">
            <span v-if="formInputs.neighborhood.hasErrors == true" class="error">{{ formInputs.neighborhood.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.city.required">
            <label for="city">Cidade:</label>
            <input
                v-on:focusout="formInputs.city.validate()" 
                v-model="formInputs.city.data"
                id="city">
            <span v-if="formInputs.city.hasErrors == true" class="error">{{ formInputs.city.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.state.required">
            <label for="state">Estado:</label>
            <select 
                v-on:focusout="formInputs.state.validate()" 
                v-model="formInputs.state.data"
                id="state">
                <option 
                    v-for="option in optionsLists.states" 
                    v-bind:value="option.value">
                    {{ option.label }}
                </option>
            </select>
            <span v-if="formInputs.state.hasErrors == true" class="error">{{ formInputs.state.errorMessage }}</span>
        </div>
        <h2 class="primary">Dados bancários</h2>
        <div class="input-wrapper" v-if="formInputs.bank.required">
            <label for="bank">Banco:</label>
            <select  
                v-on:focusout="formInputs.bank.validate()"
                v-model="formInputs.bank.data"
                id="bank">
                <option value="" selected disabled hidden>Selecione</option>
                <option 
                    v-for="option in optionsLists.banks" 
                    v-bind:value="option">
                    {{ option }}
                </option>
            </select>
            <span v-if="formInputs.bank.hasErrors == true" class="error">{{ formInputs.bank.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.agency.required">
            <label for="agency">Agência:</label>
            <input
                v-on:focusout="formInputs.agency.validate()" 
                v-model="formInputs.agency.data"
                id="agency">
            <span v-if="formInputs.agency.hasErrors == true" class="error">{{ formInputs.agency.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.account.required">
            <label for="account">Conta Corrente:</label>
            <input
                v-on:focusout="formInputs.account.validate()" 
                v-model="formInputs.account.data"
                id="account">
            <span v-if="formInputs.account.hasErrors == true" class="error">{{ formInputs.account.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.accountOwner.required">
            <label for="accountOwner">Titular:</label>
            <input
                v-on:focusout="formInputs.accountOwner.validate()" 
                v-model="formInputs.accountOwner.data"
                id="accountOwner">
            <span v-if="formInputs.accountOwner.hasErrors == true" class="error">{{ formInputs.accountOwner.errorMessage }}</span>
        </div>
        <div class="input-wrapper" v-if="formInputs.accountOwnerCpf.required">
            <label for="accountOwnerCpf">Cpf do Titular:</label>
            <input
                v-on:focusout="formInputs.accountOwnerCpf.validate()"
                v-on:keyup="formInputs.accountOwnerCpf.mask();"
                v-model="formInputs.accountOwnerCpf.data"
                id="accountOwnerCpf"
                maxlength="15">
            <span v-if="formInputs.accountOwnerCpf.hasErrors == true" class="error">{{ formInputs.accountOwnerCpf.errorMessage }}</span>
        </div>
        <div class="align-center" style="padding: 20px 0px;">
            <div class="primary form-general-error" v-if="controller.hasFormErrors">Há erros no preenchimento do formulário!</div>
            <button v-on:click="register($router, $event, modal, loading)" v-if="!controller.isEditing" class="button primary-button upcase-button align-center">
                <span v-if="!loading.loading">Cadastrar</span>
                <app-loading></app-loading>
            </button>
            <button v-on:click="controller.saveUser($router, $event, modal, loading)" v-if="controller.isEditing" class="button primary-button upcase-button align-center">
                <span v-if="!loading.loading">Salvar</span>
                <app-loading></app-loading>
            </button>
        </div>
    </form>
</div>