<div id="LinksGenerator" class="card">
	<i class="fa fa-link card-icon right" aria-hidden="true"></i>
	<h3>Gerar URL de divulgação pra ofertas/campanhas</h3>
	<div id="message" class="primary"></div>
	<div class="input-wrapper">
		<label>Cole abaixo a Url da página que deseja divulgar</label>
		<input type="text" id="url">
	</div>
	<div class="input-wrapper">
		<label>Copie sua Url para divulgação</label>
		<input type="text" id="targetUrl">
	</div>
	<button class="button primary-button" id="generateUrl">Gerar Url</button>
	<button class="button primary-button" id="shortUrl">Converter para Url curta</button>
	<button class="button secondary-button" id="copyUrl">Copiar Url</button>
</div>