body {
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--text-primary);
}
#app,#DashBoardPage,#NotFoundPage,#HomePage,#LoginPage,#RegisterPage {
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: var(--primary);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 10px 0px;
    color: var(--text-primary);
}
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }

p {
    font-size: 16px;
}
table {
	width: 100%;
	min-width: 690px;
    font-size: var(--table-font-size);
    margin: 20px 0px;
    border-radius: var(--border-radius);
	border-collapse: collapse;
}
    .table-container {
        width: 100%;
    }
        @media(max-width: 992px) {
            .table-container {
                overflow-x: scroll;
            }
        }
    thead tr {
        background: var(--table-header-bg);
        color: var(--table-header-color);
    }
	tbody tr:nth-child(even) {
		background: var(--table-variation);
	}
	td, th {
		padding: var(--table-padding);
	}
	thead th, tbody td {
		text-align: var(--table-text-align);
	}

label {
    margin-bottom: 10px;
    display: block;
}
select,input {
    width: 100%;
    transition: 100ms;
    color: var(--input-color);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    background-color: var(--input-bg);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    box-shadow: none;
}
    select:focus,input:focus {
        outline: none;
        transform: scale(1.02);
    }
    .input-wrapper {
        position: relative;
        margin: 20px 0px;
        text-align: left;
    }

.error {
    color: var(--input-error-color);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -16px;
    font-size: 13px;
}

.fa, .fas, .far {
    color: var(--icons-color);
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: right;
}

.primary {
    color: var(--primary);
}

.button {
    position: relative;
    min-height: 50px;
    min-width: 75px;
    transition: 1s;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    color: var(--text-primary);
    border: none;
    box-shadow: none;
    border-radius: var(--border-radius);
}
    .button:hover {
        cursor: pointer;
    }
    .button:focus {
        outline: none;
    }
    .button.primary-button{
        background-color: var(--button-bg-primary);
        color: var(--button-color-primary);
    }       
    .button.secondary-button {
        background-color: var(--button-bg-secondary);
        color: var(--button-color-secondary);
    }
    .button.primary-button:active {
        background-color: var(--button-bg-active-primary);
        color: var(--button-color-active-primary);
    }
    .button.secondary-button:active {
        background-color: var(--button-bg-active-secondary);
        color: var(--button-color-active-secondary);
    }
    .action-button-table {
        margin: 0px 2px;
    }
.full-banner {
    width: 100%;
    height: auto;
}
    @media (max-width:992px) {
        .full-banner {
            margin: 50px;
            transform: scale(1.5);
        }
    }

.apresentation {
    margin: 30px 0px;
}
    .apresentation p {
        font-size: 20px;
    }

.form-general-error {
    margin: 10px 0px;
}

#HeaderComponent {
    padding: 10px 0px;
    background-color: var(--bg1);
    border-top: 4px solid var(--primary);
}

#LoginPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-page-bg);
}
#LoginBoxComponent {
    max-width: 450px;
    padding: 20px 40px;
    text-align: center;
    background-color: var(--login-box-bg);
    border-radius: var(--border-radius);
}

#RegisterPage {
    width: 100%;
}
    @media(min-width: 1200px) {
        #RegisterPage #RegisterFormComponent h2,
        #RegisterPage #RegisterFormComponent .error {
            margin-left: 410px;
        }
        #RegisterPage #RegisterFormComponent .input-wrapper label {
            width: 400px;
            margin: 0px;
            display: inline-block;
            text-align: right;
        }
        #RegisterPage #RegisterFormComponent .input-wrapper input,
        #RegisterPage #RegisterFormComponent .input-wrapper select {
            width: 400px;
            margin-left: 5px;
            display: inline-block;
            text-align: left;
        }
    }

#ModalComponent {
    position: absolute;
    margin: auto;
    height: auto;
    top: 30%;
    left: 0;
    right: 0;
    border-radius: var(--border-radius);
    background: var(--modal-bg);
    padding: 30px 10px;
    text-align: center;
    box-shadow: 1px 0px 1px 200vw rgba(0,0,0,0.3);
    border: 10px solid rgba(0,0,0,0.3);
}
    #ModalComponent .icon {
        font-size: 80px;
    }
    #ModalComponent .close-modal {
        position: absolute;
        font-size: 20px;
        top: 15px;
        right: 15px;
        transition: 100ms;
    }
        #ModalComponent .close-modal:hover {
            cursor: pointer;
            transform: rotate(360deg);
        }

#Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: all 0.1s linear;
    transform: scale(1);
    z-index: 9999;
}

#Loading > div > div {
    animation-play-state: paused;
    border: 3px solid var(--loading-spinner);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    border-left-color: var(--loading-spinner-border);
    width: 100%;
    height: 100%;
}

#Loading > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#Loading div div {
    animation-play-state: running;
}

@keyframes loadicons {
    0% {
        transform: scale(0) translate3d(0, 0, 0);
    }
    11% {
        transform: scale(1.2) translate3d(0, 0, 0);
    }
    22% {
        transform: scale(1) translate3d(0, 0, 0);
    }
    33% {
        transform: scale(0) translate3d(0, 0, 0);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
#Loading i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: var(--loading-icon);
    width: 24px;
    height: 24px;
    line-height: 1;
    transform: scale(0) translate3d(0, 0, 0);
}

#Loading i:nth-of-type(1) {
    animation: loadicons 3s infinite ease-in-out;
}

#Loading i:nth-of-type(2) {
    animation: loadicons 3s 1s infinite ease-in-out;
}

#Loading i:nth-of-type(3) {
    animation: loadicons 3s 2s infinite ease-in-out;
}

/* 
 * Menu 
 */
nav {
	width: 100%;
	background: var(--menu-bg);
	color: var(--text-primary);
	border-radius: var(--border-radius);
	padding: 20px 0px;
	max-width: 90%;
}
	.menu-button {
		display: none;
	}
	@media(max-width: 768px) {
		nav {
            width: 100%;
			display: none;
		}
		.menu-button {
			display: inline-block;
		}
	}
	nav a {
		color: var(--menu-text);
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	nav>ul>li>a {
		display: block;
		padding: 15px 0px 15px 25px;
		border-left: 4px solid transparent;
		color: var(--menu-text);
	}
	nav>ul>li>a.active,
	nav>ul>li>a:hover {
		border-left: 4px solid var(--menu-border-hover);
        background: var(--menu-button-bg-hover);
        color: var(--menu-text-hover);
	}
	nav > ul > li.sub-menu ul {
		padding: 10px 55px;
		display: flex;
		flex-direction: column;
		height: 75px;
		justify-content: space-between;
		font-size: 13px;
	}
/*
 * Menu End 
 */

 /* 
  * Card Component 
  */
.card {
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    background: var(--card-bg);
    border-radius: var(--border-radius);
    color: var(--text-primary);
}
    .card .card-icon {
        position: absolute;
        top: 10px;
        font-size: 20px;
    }
        .card .card-icon.left {
            left: 10px;
        }
        .card .card-icon.right {
            right: 10px;
        }
    .card.resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 150px;
    }
        @media(min-width: 992px) {
            .col.small-card {
                max-width: 230px;
            }
        }
        @media(min-width: 1240px) {
            .col.small-card {
                max-width: 280px;
            }
        }
    .card-title {
        font-size: 18px;
        font-weight: 600;
    }
    .card-value {
        color: var(--primary);
        font-weight: 500;
        font-size: 32px;
    }
    .card-footer {
        font-size: 13px;
    }
        .card-footer .date {
            color: var(--primary);
        }
    .card.info {
        background: var(--primary);
        color: var(--text-secondary);
        align-items: center;
    }
        .card.info .icon {
            color: var(--secondary);
            font-size: 80px;
        }
        @media (min-width: 992px) {
            .card.info {
                display: flex;
            }
            .card.info .content{
                margin-left: 20px;
            }
        }
        @media(max-width: 992px) {
            .card.info {
                text-align: center;
            }
            .card.info  .content {
                text-align: left;
            }
            .card.info .icon {
                margin-bottom: 20px;
            }
        }
