body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
    color: var(--text1);
}

a {
    text-decoration: none;
    color: var(--primary);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 10px 0px;
}
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }

p {
    font-size: 16px;
}

@media(max-width: 992px) {
	.table-container {
		overflow-x: scroll;
		width: 100%;
	}	
}
table {
	width: 100%;
	min-width: 660px;
    font-size: 12px;
    margin: 10px 0px;
	border-collapse: collapse;
}
	tbody tr:nth-child(even) {
		background: #ededed;
	}
	td, th {
		padding: 5px 0px;
	}
	thead th, tbody td {
		text-align: center;
	}

select,input {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    background-color: var(--bg1);
    border: none;
    border-radius: 5px;
    box-shadow: none;
}
    .input-wrapper {
        position: relative;
        margin: 20px 0px;
        text-align: left;
    }

.error {
    color: var(--primary);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -16px;
    font-size: 13px;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: right;
}

.primary {
    color: var(--primary);
}

.button {
    padding: 15px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
}
    .button.primary-button{
        background-color: var(--primary);
        color: var(--text2);
    }       
    .button.secondary-button {
        background-color: var(--secondary);
        color: var(--text2);
    }
    .button.upcase-button {
        text-transform: uppercase;
        font-weight: 600;
    }

.full-banner {
    width: 100%;
    height: auto;
}
    @media (max-width:992px) {
        .full-banner {
            margin: 50px;
            transform: scale(1.5);
        }
    }

.apresentation {
    margin: 30px 0px;
}
    .apresentation p {
        font-size: 20px;
    }

#HeaderComponent {
    padding: 10px 0px;
    background-color: var(--bg1);
    border-top: 4px solid var(--primary);
}

#LoginPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
#LoginBoxComponent {
    max-width: 450px;
    padding: 20px 40px;
    text-align: center;
    background-color: var(--bg2);
    border-radius: 5px;
}

#RegisterPage {
    width: 100%;
}
    @media(min-width: 1200px) {
        #RegisterPage #RegisterFormComponent h2,
        #RegisterPage #RegisterFormComponent .error {
            margin-left: 400px;
        }
        #RegisterPage #RegisterFormComponent .input-wrapper label {
            width: 400px;
            display: inline-block;
            text-align: right;
        }
        #RegisterPage #RegisterFormComponent .input-wrapper input,
        #RegisterPage #RegisterFormComponent .input-wrapper select {
            width: 400px;
            display: inline-block;
            text-align: left;
        }
    }

#LoadingModalComponent {
    width: 200px;
    top: 10px;
    transform: translate(-50%, 0);
    position: absolute;
    background: #fff;
    box-shadow: 2px #000;
    border-radius: 5px;
}

/* 
 * Menu 
 */
nav {
	width: 100%;
	background: var(--primary);
	color: var(--text-primary);
	border-radius: 10px;
	padding: 20px 0px;
	max-width: 90%;
}
	.menu-button {
		display: none;
	}
	@media(max-width: 992px) {
		nav {
			max-width: 100%;
		}
	}
	@media(max-width: 768px) {
		nav {
			display: none;
		}
		.menu-button {
			display: inline-block;
		}
	}
	nav a {
		color: #f0f0f0;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	nav>ul>li>a {
		display: block;
		padding: 15px 0px 15px 25px;
		border-left: 4px solid transparent;
		color: var(--text-primary);
	}
	nav>ul>li>a.active,
	nav>ul>li>a:hover {
		border-left: 4px solid #fff;
		background: #000;
	}
	nav > ul > li.sub-menu ul {
		padding: 10px 55px;
		display: flex;
		flex-direction: column;
		height: 75px;
		justify-content: space-between;
		font-size: 13px;
	}
/*
 * Menu End 
 */