<div id="PasswordRecover">
    <app-header></app-header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 card">
                <h2>Alterar senha de acesso</h2>
                <p>Preencha os dados abaixo para trocar sua senha</p>
                <form action="">
                    <div class="input-wrapper">
                        <label for="newPassword">Nova senha</label>
                        <input
                            v-on:focusout="controller.passwordsInputs.password.validate(controller.passwordsInputs.password.data)" 
                            @input="controller.passwordsInputs.password.data = $event.target.value" 
                            id="newPassword"
                            type="password">
                        <span class="error" v-if="controller.passwordsInputs.password.hasErrors == true">{{ controller.passwordsInputs.password.errorMessage }}</span>
                    </div>
                    <div class="input-wrapper">
                        <label for="passwordRepeat">Repita sua nova senha</label>
                        <input
                            v-on:focusout="controller.passwordsInputs.passwordRepeat.validate(controller.passwordsInputs.passwordRepeat.data)" 
                            @input="controller.passwordsInputs.passwordRepeat.data = $event.target.value" 
                            id="passwordRepeat"
                            type="password">
                        <span class="error" v-if="controller.passwordsInputs.passwordRepeat.hasErrors == true">{{ controller.passwordsInputs.passwordRepeat.errorMessage }}</span>
                    </div>
                    <div class="align-center">
                        <button type="submit" v-on:click="controller.submit($router, $event, loading)" class="button primary-button upcase-button align-center">
                            <span v-if="!loading.loading">Alterar</span>
                            <app-loading></app-loading>    
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>