<div id="StoreComponent">
    <div class="row">
        <div class="card col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <span class="primary">Nome:</span>
                    <br>
                    <span>{{ controller.store.name }}</span>
                    <br><br>
                </div>
                <div class="col-12 col-md-6">
                    <span class="primary">Url:</span>
                    <br>
                    <span>{{ controller.store.url }}</span>
                    <br><br>
                </div>
                <div class="col-12 col-md-6">
                    <span class="primary">Status</span>
                    <br>
                    <span>{{ utils.formatStoreStatus(controller.store.status) }}</span>
                    <br><br>
                </div>
                <div class="col-12 col-md-6">
                    <span class="primary">Última atualização</span>
                    <br>
                    <span>{{ utils.formatDate(controller.store.updatedAt) }}</span>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <form id="storeForm" class="row justify-content-between">
        <div class="col-12 col-md-5">
            <div class="input-wrapper" v-if="controller.formInputs.allowRegister.required">
                <label for="allowRegister">Permitir Cadastro:</label>
                <select 
                    v-on:focusout="controller.formInputs.allowRegister.validate()"
                    v-model="controller.formInputs.allowRegister.data"
                    id="allowRegister">
                    <option value="" selected disabled hidden>Selecione</option>
                    <option 
                        v-for="option in controller.optionsList.register" 
                        v-bind:value="option.value">
                        {{ option.label }}
                    </option>
                </select>
                <span v-if="controller.formInputs.allowRegister.hasErrors == true" class="error">{{ controller.formInputs.allowRegister.errorMessage }}</span>
            </div>
            <div class="input-wrapper" v-if="controller.formInputs.comissionType.required">
                <label for="comissionType">Tipo de comissão:</label>
                <select 
                    v-on:focusout="controller.formInputs.comissionType.validate()"
                    v-model="controller.formInputs.comissionType.data"
                    id="comissionType">
                    <option value="" selected disabled hidden>Selecione</option>
                    <option 
                        v-for="option in controller.optionsList.comission" 
                        v-bind:value="option.value">
                        {{ option.label }}
                    </option>
                </select>
                <span v-if="controller.formInputs.comissionType.hasErrors == true" class="error">{{ controller.formInputs.comissionType.errorMessage }}</span>
            </div>
            <div class="input-wrapper" v-if="controller.formInputs.paymentTime.required">
                <label for="paymentTime">Tempo para pagamento (dias):</label>
                <input 
                    v-on:focusout="controller.formInputs.paymentTime.validate()"
                    v-model="controller.formInputs.paymentTime.data"
                    id="paymentTime">
                </select>
                <span v-if="controller.formInputs.paymentTime.hasErrors == true" class="error">{{ controller.formInputs.paymentTime.errorMessage }}</span>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="input-wrapper" v-if="controller.formInputs.protectedRegister.required">
                <label for="protectedRegister">Cadastro Protegido:</label>
                <select 
                    v-on:focusout="controller.formInputs.protectedRegister.validate()"
                    v-model="controller.formInputs.protectedRegister.data"
                    id="protectedRegister">
                    <option value="" selected disabled hidden>Selecione</option>
                    <option 
                        v-for="option in controller.optionsList.register" 
                        v-bind:value="option.value">
                        {{ option.label }}
                    </option>
                </select>
                <span v-if="controller.formInputs.protectedRegister.hasErrors == true" class="error">{{ controller.formInputs.protectedRegister.errorMessage }}</span>
            </div>
            <div class="input-wrapper" v-if="controller.formInputs.comissionValue.required">
                <label for="comissionValue">Valor da comissão:</label>
                <input 
                    v-on:focusout="controller.formInputs.comissionValue.validate()"
                    v-on:keyup="controller.formInputs.comissionValue.mask()"
                    v-model="controller.formInputs.comissionValue.data"
                    maxlength="13"
                    id="comissionValue">
                <span v-if="controller.formInputs.comissionValue.hasErrors == true" class="error">{{ controller.formInputs.comissionValue.errorMessage }}</span>
            </div>
            <div class="input-wrapper" v-if="controller.formInputs.minimumValue.required">
                <label for="minimumValue">Valor mínimo para pagamento:</label>
                <input 
                    v-on:focusout="controller.formInputs.minimumValue.validate()"
                    v-model="controller.formInputs.minimumValue.data"
                    v-on:keyup="controller.formInputs.minimumValue.mask();"
                    id="minimumValue">
                <span v-if="controller.formInputs.minimumValue.hasErrors == true" class="error">{{ controller.formInputs.minimumValue.errorMessage }}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="align-center" style="padding: 20px 0px;">
                <button v-on:click="controller.saveStore($event, loading, controller.getStore)" class="button primary-button upcase-button align-center">
                    <span v-if="!loading.loading">Salvar</span>
                    <app-loading></app-loading>
                </button>
            </div>
        </div>
    </form>
</div>