:root {
    font-family: "Montserrat", sans-serif;
    /* GENERAL */
    --primary: #d9888a;
    --secondary: #fff;
    --header-bg: #fff;
    --content-bg: #fff;
    --card-bg: #eae8e2;
    --login-page-bg: #fff;
    --login-box-bg: var(--card-bg);
    --text-primary: #635a58;
    --links-color: #635a58;
    --links-weight: 600;
    --text-secondary: #fff;
    --border-radius: 0px;
    --icons-color: var(--primary); 

    /* MENU */
    --menu-bg: #eae8e2;
    --menu-button-bg-hover: #ebebeb;
    --menu-text: #6d6d6d;
    --menu-text-hover: #6d6d6d;
    --menu-border-hover: var(--primary);

    /* TABLE */
    --table-header-bg: var(--primary);
    --table-header-color: var(--secondary);
    --table-variation: #ededed;
    --table-font-size: 14px;
    --table-padding: 5px;
    --table-text-align: center;

    /* INPUT */
    --input-bg: #f5f5f5;
    --input-border: 1px solid #6d6d6d;
    --input-padding: 13px;
    --input-font-size: 14px;
    --input-border-radius: 0px;
    --input-color: #6d6d6d;
    --input-error-color: var(--primary);
    
    /* BUTTON */
    --button-color-primary: #fff;
    --button-bg-primary: #635a58;
    --button-bg-disabled-primary: #dedede;
    --button-color-secondary: #fff;
    --button-bg-secondary: var(--primary);
    --button-bg-disabled-secondary: #dedede;
    --button-font-weight: 400;
    --button-border-radius: 0px;
    --button-color-active-primary: var(--button-bg-primary);
    --button-color-active-secondary: var(--button-bg-secondary);
    --button-padding: 10px 15px;
    --button-font-size: 16px;

    /* LOADING */
    --loading-icon: var(--primary);
    --loading-spinner: var(--primary);
    --loading-spinner-border: rgba(255, 255, 255, 0.3);

    /* MODAL */
    --modal-bg: var(--content-bg);
}

/* Custom Home */
#HomePage {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}
    #HomePage h2 {
        font-weight: 400;
        margin: 25px 0px;
    }

header a {
    text-transform: uppercase;
    font-size: 12px;
}

header .header-content {
    padding: 30px 0px;
}

.home-banner { 
    background-color: var(--card-bg);
    margin-top: 30px;
}
    .home-banner .text { 
        padding-right: 10%;
        font-size: 16px;
        line-height: 24px;
    }
    .home-banner .text h1{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .home-banner .banner-img { 
        margin-top: -40px;
        display: flex;
        justify-content: flex-end;
    }

.steps {
    margin: 50px 0px;
}

.home-register-link {
    border-bottom: 1px solid var(--primary);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary);
}

.questions ul {
	list-style: decimal;
	text-align: left;
	font-family: "Montserrat";
}	
.questions ul li {
	padding: 15px 5px;
    font-size: 15px;
    font-weight: 500;
	border-bottom: 1px solid #ede;
}
.questions ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.questions .answear {
    font-size: 13px;
    font-weight: 400;
	margin: 15px 0px;
	display:none;
}
.display-question {
	display: block !important;
}

#HomePage footer {
    padding: 50px 0px;
}