:root {
    font-family: Montserrat, sans-serif;
    --primary: #d9888a;
    --secondary: #fff;
    --header-bg: #ffffff;
    --content-bg: #fff;
    --card-bg: #eae8e2;
    --login-page-bg: #fff;
    --login-box-bg: var(--card-bg);
    --text-primary: #635a58;
    --links-color: #635a58;
    --links-weight: 600;
    --text-secondary: #fff;
    --border-radius: 0px;
    --icons-color: var(--primary);
    --menu-bg: #eae8e2;
    --menu-button-bg-hover: #ebebeb;
    --menu-text: #6d6d6d;
    --menu-text-hover: #6d6d6d;
    --menu-border-hover: var(--primary);
    --table-header-bg: var(--primary);
    --table-header-color: var(--secondary);
    --table-variation: #ededed;
    --table-font-size: 14px;
    --table-padding: 5px;
    --table-text-align: center;
    --input-bg: #f5f5f5;
    --input-border: 1px solid #6d6d6d;
    --input-padding: 13px;
    --input-font-size: 14px;
    --input-border-radius: 0px;
    --input-color: #6d6d6d;
    --input-error-color: var(--primary);
    --button-color-primary: #635a58;
    --button-bg-primary: #dedede;
    --button-bg-disabled-primary: #dedede;
    --button-color-secondary: #fff;
    --button-bg-secondary: var(--primary);
    --button-bg-disabled-secondary: #dedede;
    --button-font-weight: 400;
    --button-border-radius: 0px;
    --button-color-active-primary: var(--button-bg-primary);
    --button-color-active-secondary: var(--button-bg-secondary);
    --button-padding: 10px 15px;
    --button-font-size: 16px;
    --loading-icon: var(--primary);
    --loading-spinner: var(--primary);
    --loading-spinner-border: rgba(255, 255, 255, 0.3);
    --modal-bg: var(--content-bg);
    }

/* Custom Home */
#HomePage {
    border-top: 4px solid #635a58;
    border-bottom: 4px solid #635a58;
}
#HomePage header a{
    font-weight: 700;
}
#HomePage p {
    font-size: 15px;
}
    #HomePage h2 {
        font-weight: 300;
        margin: 30px 0px 25px;
    }
#HomePage .home-card {
    max-width: 350px;
}
#HomePage .home-card h3 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-weight: 300;
}
#HomePage .home-card h3 img{
    margin: 0px 20px 0px -30px;
}
#HomePage .home-card p {
    font-size: 14px;
}
@media(max-width: 992px) {
    #HomePage .home-card {
        max-width: 100%;
    }
}

header a {
    text-transform: uppercase;
    font-size: 12px;
}

header .header-content {
    padding: 30px 0px;
}

.home-banner { 
    background-color: var(--card-bg);
    margin-top: 30px;
}
    .home-banner .text { 
        padding-right: 10%;
        font-size: 16px;
        line-height: 24px;
    }
    .home-banner .text h1{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .home-banner p {
        font-family: 'EB Garamond', serif;
        font-size: 20px !important;
        letter-spacing: 0.3px;
        margin: 25px 0px;
        line-height: 25px;
        font-weight: 500;
    }
    .home-banner .banner-img img {
        max-width: 100%; 
    }
    .home-banner .banner-img { 
        margin-top: -40px;
        display: flex;
        justify-content: flex-end;
    }
    @media(max-width:992px) {
        .home-banner .banner-img {
            margin-top: 0px;
            justify-content: center;
        }
        .home-banner .text {
             padding: 0;
             text-align:center;
         }
         #HomePage header .logo {
            width: 100%;
            text-align:center;
        }
          #HomePage header .account {
              width: 100%;
              text-align: center;
              padding-top: 40px;
         }
    }

.steps {
    margin: 80px 0px 50px;
}
.steps p{
    font-size:15px;
}

.home-register-link {
    border-bottom: 1px solid var(--primary);
    font-size: 11px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary);
}

.questions ul {
	list-style: decimal;
	text-align: left;
	font-family: "Montserrat";
}	
.questions ul li {
	padding: 15px 5px;
    font-size: 15px;
    font-weight: 500;
	border-bottom: 1px solid #ede;
}
.questions ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.questions .answear {
    font-size: 13px;
    font-weight: 400;
	margin: 15px 0px;
	display:none;
}
.display-question {
	display: block !important;
}

#HomePage footer {
    padding: 50px 0px 150px;
}
#LoginBoxComponent .logo-login-container {
     text-align: left;
}