:root {
    font-family: "Lato", sans-serif;
    /* GENERAL */
    --primary: #998226;
    --secondary: #fff;
    --header-bg: #fff;
    --content-bg: #fff;
    --card-bg: #f5f5f5;
    --login-page-bg: var(--primary);
    --login-box-bg: var(--card-bg);
    --text-primary: #838383;
    --text-secondary: #fff;
    --border-radius: 0px;
    --icons-color: var(--primary); 

    /* MENU */
    --menu-bg: #f5f5f5;
    --menu-button-bg-hover: #ebebeb;
    --menu-text: #6d6d6d;
    --menu-text-hover: #6d6d6d;
    --menu-border-hover: var(--primary);

    /* TABLE */
    --table-header-bg: var(--primary);
    --table-header-color: var(--secondary);
    --table-variation: #ededed;
    --table-font-size: 14px;
    --table-padding: 5px;
    --table-text-align: center;

    /* INPUT */
    --input-bg: #f5f5f5;
    --input-border: 1px solid #6d6d6d;
    --input-padding: 13px;
    --input-font-size: 14px;
    --input-border-radius: 0px;
    --input-color: #6d6d6d;
    --input-error-color: var(--primary);
    
    /* BUTTON */
    --button-color-primary: #fff;
    --button-bg-primary: #c1c1c1;
    --button-color-secondary: #fff;
    --button-bg-secondary: var(--primary);
    --button-font-weight: 400;
    --button-border-radius: 0px;
    --button-color-active-primary: var(--button-bg-primary);
    --button-color-active-secondary: var(--button-bg-secondary);
    --button-padding: 15px;
    --button-font-size: 16px;

    /* LOADING */
    --loading-icon: var(--primary);
    --loading-spinner: var(--primary);
    --loading-spinner-border: rgba(255, 255, 255, 0.3);

    /* MODAL */
    --modal-bg: var(--content-bg);
}

/* Custom Home */
#HomePage {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}
header .header-content {
    padding: 30px 0px;
}

.questions ul {
	list-style: decimal;
	text-align: left;
	font-family: "Gotham";
}	
.questions ul li {
	font-family: "Gotham";
	padding: 20px 5px;
    font-size: 20px;
	border-bottom: 1px solid #ede;
}
.questions ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.questions .answear {
	margin: 15px 0px;
	display:none;
}
.display-question {
	display: block !important;
}