@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #ff8e5c;
    --secondary: #fff;
    --bg1: #efefef;
    --bg2: #fff;
    --text1: #838383;
    --text2: #fff;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
    color: #000;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: right;
}

.button {
    padding: 15px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
}
    .button.primary-button{
        background-color: var(--primary);
        color: var(--text2);
    }       
    .button.secondary-button {
        background-color: var(--secondary);
        color: var(--text2);
    }
    .button.upcase-button {
        text-transform: uppercase;
        font-weight: 600;
    }

.full-banner {
    width: 100%;
    height: auto;
}
    @media (max-width:992px) {
        .full-banner {
            margin: 50px;
            transform: scale(1.5);
        }
    }
