<div id="MenuComponent">
    <div class="dash-title">
        <h3><button class="menu-button button"><i class="fa fa-bars"></i></button>&nbsp;Menu</h3>
    </div>
    <nav>
        <ul>
            <!-- TODO: Set class active after change url -->
            <li v-on:click="menu.changeScreen($event)">
                <router-link to="/dashboard" :class="[menu.checkCurrentRoute('/dashboard') ? 'active' : '' ]">
                    Dashboard
                </router-link>
            </li>
            <li v-on:click="menu.changeScreen($event)">
                <router-link to="/dashboard/relatorios" :class="[menu.checkCurrentRoute('/dashboard/relatorios') ? 'active' : '' ]">
                    Relatórios
                </router-link>
            </li>
            <li v-on:click="menu.changeScreen($event)">
                <router-link to="/dashboard/gerador-de-links" :class="[menu.checkCurrentRoute('/dashboard/gerador-de-links') ? 'active' : '' ]">
                    Gerador de links
                </router-link>
            </li>
            <li v-on:click="menu.changeScreen($event)">
                <router-link to="/dashboard/material-de-treinamento">
                    Material de treinamento
                </router-link>
            </li>
            <li class="sub-menu">
                <a>
                    Minha conta <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <ul>
                    <li>
                        <router-link to="/dashboard/dados-cadastrais">
                            Dados cadastrais
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/alterar-senha">
                            Alterar Senha
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/contrato">
                            Contrato do divulgador
                        </router-link>
                    </li>
                </ul>
            </li>
            <li v-on:click="menu.changeScreen($event)">
                <router-link to="/dashboard/ajuda">Ajuda</router-link>
            </li>
        </ul>
    </nav>
</div>